@media (hover: hover) and (pointer: fine) {
    #header {
        &.__hover {
            max-height: 230px;
            box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.05);
            &:after {
                display: block;
            }
        }
        .gnb {
            > ul {
                > li {
                    &:hover {
                        > a {
                            color: var(--primaryGreen);
                        }
                    }
                }
            }
            .depth2 {
                ul {
                    > li {
                        &:hover {
                            > a {
                                color: var(--primaryGreen);
                            }
                        }
                    }
                }
            }
        }
    }
}
