/* contents media query */
@media all and (max-width: 1920px) {
}

@media all and (min-width: 1024px) {
}
@media all and (max-width: 1280px) {
    .agency-list-wrap {
        ul {
            > li {
                width: 265px;
                border: 0;
                height: auto;
            }
        }
    }
}
@media all and (max-width: 1023px) {
    #wrap {
        &:not(.pc-only) {
            section {
                &.sub {
                    padding: rem(40px 0 80px);
                }
                .title-box {
                    margin: rem(12px 0 32px);
                    > h2 {
                        font-size: rem(30px);
                    }
                }
                .subtitle-box {
                    > h3 {
                        font-size: rem(22px);
                        &.l-icon {
                            padding-left: rem(16px);
                            &:before {
                                width: rem(5px);
                                height: rem(20px);
                            }
                        }
                    }
                    + .info-slide-wrap {
                        margin-top: rem(24px);
                    }
                }
                .txt-basic {
                    font-size: rem(14px);
                    & + .subtitle-box {
                        margin-top: rem(40px);
                    }
                }
                .img-basic {
                    + .txt-basic,
                    + .tbl-wrap {
                        margin-top: rem(24px);
                    }
                }
            }
            #contents {
                .search-area {
                    background: none;
                    margin: rem(16px 0 26px);
                    padding: 0;
                    .input-search {
                        width: 100%;
                        input {
                            font-size: rem(14px);
                        }
                    }
                }

                [data-tab_wrap] + .search-area {
                    margin-top: rem(16px);
                }
                [data-tab_wrap] {
                    &.__connect {
                        nav {
                            > ol {
                                flex-wrap: nowrap;
                                gap: 0;
                                justify-content: flex-start;
                            }
                        }
                    }
                    & + .data-accordion-area {
                        margin-top: rem(32px);
                    }
                }
            }
            .detail-view {
                &__header {
                    padding: rem(15px) 0 rem(20px);
                    .filter {
                        padding-top: rem(10px);
                        font-size: rem(14px);
                    }
                    .title {
                        padding-top: rem(8px);
                        font-size: rem(20px);
                        line-height: 1.4;
                    }
                    .date,
                    .views {
                        font-size: rem(14px);
                        margin-top: rem(12px);
                    }
                    .date {
                        padding-right: rem(8px);
                    }
                    .views {
                        padding-left: rem(8px);

                        &:before {
                            height: rem(12px);
                        }
                    }
                }
                &__body {
                    .editor {
                        padding: rem(40px) 0 rem(60px);
                        min-height: 20rem;

                        p {
                            font-size: rem(16px);
                            line-height: 1.5;
                        }
                        img {
                            margin: rem(30px) auto;
                        }
                    }
                    .attatch {
                        padding: rem(16px);
                        a[class^='btn'],
                        button[class^='btn'] {
                            font-size: rem(14px);
                            height: auto;

                            &:before {
                                width: rem(32px);
                                height: rem(32px);
                                background-size: rem(32px) rem(32px);
                                margin-right: rem(8px);
                            }
                        }
                        & + .attatch {
                            margin-top: rem(-8px);
                        }
                    }
                }
                &__button {
                    margin-top: rem(32px);
                }
            }
        }
    }

    .map-info {
        flex-direction: column;
        margin-top: rem(24px);
        > dl {
            font-size: rem(16px);
            flex-basis: 100%;
            flex-direction: column;
            padding-left: rem(64px);
            &:before {
                width: rem(48px);
                height: rem(48px);
                background-size: rem(48px 48px);
                margin-top: 0;
                top: 0;
            }
            & + dl {
                margin-top: rem(24px);
            }
            dd {
                margin-top: rem(8px);
            }
        }
    }

    .info-slide-wrap {
        margin-bottom: rem(48px);
        .text-box {
            margin-bottom: rem(24px);
            em {
                font-size: rem(16px);
                margin-bottom: rem(10px);
            }
            p {
                font-size: rem(18px);
                line-height: rem(26px);
            }
        }
        .swiper-controller {
            top: auto;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            bottom: rem(-48px);
            .swiper-pagination {
                font-size: rem(18px);
                line-height: rem(21px);
                margin: rem(0 24px);
            }
            [class^='swiper-button'] {
                height: rem(24px);
                width: rem(24px);
            }
        }
    }

    .agency-list-wrap {
        ul {
            justify-content: center;
            > li {
                width: rem(265px);
            }
        }
    }

    .api-standard {
        .subtitle-box {
            margin: rem(24px 0) !important;
            + .tbl-wrap {
                margin-top: 0;
            }
        }
        .anchor-box {
            padding: rem(12px);
            overflow-y: hidden;
            overflow-x: auto;
            &.__fixed {
                top: rem(61px);
                padding: rem(12px 20px);
            }
            > ul {
                flex-wrap: nowrap;
                justify-content: flex-start;
                gap: rem(0 5px);
                li {
                    // &:first-child {
                    //     padding-left: rem(12px);
                    // }
                    &:last-child {
                        padding-right: rem(12px);
                    }
                    > a {
                        border-radius: rem(22px);
                        height: rem(40px);
                        line-height: rem(38px) !important;
                        padding: 0 rem(16px) !important;
                        &[aria-selected='true'] {
                            background: var(--navyLight) !important;
                            color: var(--white) !important;
                        }
                    }
                }
            }
            & + .mypage-set {
                padding-top: rem(24px);
            }
        }
        .mypage-set {
            & + .mypage-set {
                padding-top: rem(30px);
            }
            .head {
                font-size: rem(22px);
                margin-bottom: rem(16px);
            }
        }
        .signature-set {
            border-radius: rem(12px);
            padding: rem(20px);
            dl {
                font-size: rem(14px);
                padding: 0;
                margin: 0;
                border-top: 0;
                flex-wrap: wrap;
                width: 100%;
                & + dl {
                    dt,
                    dd {
                        padding-top: rem(12px);
                        border-top: 1px solid var(--graye8);
                    }
                }
                &:last-of-type {
                    dt,
                    dd {
                        padding-bottom: 0;
                    }
                }
                dt,
                dd {
                    padding-bottom: rem(12px);
                }
                dt {
                    width: rem(78px);
                }
                dd {
                    width: calc(100% - 7.8rem);
                    max-width: none;
                    ul {
                        li {
                            padding-left: rem(10px);
                        }
                    }
                }
            }
        }
        .tbl-grid {
            &.bbs-api-standard {
                .tbl-grid__body {
                    > li {
                        > div {
                            padding: rem(0 10px) !important;
                            width: 100%;
                            text-align: left;
                            font-size: rem(14px);
                            display: flex !important;
                            & + div {
                                margin-top: rem(8px);
                            }
                            &:before {
                                display: inline-block;
                                text-align: left;
                                width: rem(78px);
                            }
                            > p {
                                width: calc(100% - 78px);
                            }
                            &.sort {
                                &:before {
                                    content: 'API';
                                }
                            }
                            &.name {
                                &:before {
                                    content: 'API 이름';
                                }
                            }
                            &.description {
                                &:before {
                                    content: '설명';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 767px) {
}

@media all and (max-width: 639px) {
}

@media all and (max-width: 479px) {
}

@media all and (max-width: 359px) {
}

@media all and (max-width: 319px) {
}
