// KT page tokens
$kt-primary: #191a1b !default;
$kt-secondary: #55585d !default;
$kt-tertiary: #6f737b !default;
$kt-disabled: #adb1b9 !default;
$kt-bg: #f3f4f6 !default;
$kt-line: #e9eaee !default;
$kt-line-dark: #d5d8dd !default;
$kt-blue: #148aff !default;
$kt-red: #e0282f !default;
$kt-green: #009900 !default;
