@charset "UTF-8";

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('/assets/fonts/Pretendard-Bold.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('/assets/fonts/Pretendard-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('/assets/fonts/Pretendard-Medium.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('/assets/fonts/Pretendard-Regular.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('/assets/fonts/Pretendard-Light.woff2') format('woff2'),
        url('/assets/fonts/Pretendard-Light.woff') format('woff');
}
